<!DOCTYPE html>
<html>
<head>
	<title>细细粒粒猪</title>
	<link rel="stylesheet/less" type="text/css" href="/static/css/yoedge.less" />
	
	<script src="/static/js/jquery-3.1.1.min.js"></script>
	<script src="/static/js/less.2.7.2.min.js"></script>
	<script src="/static/js/babel.6.21.1.min.js"></script>
	<script src="/static/js/react.15.4.2.min.js"></script>
	<script src="/static/js/react-dom.15.4.2.min.js"></script>
	<script type="text/babel" src="/static/js/yoedge/index.jsx">
	</script>
</head>
<body>

<h1>This is a Heading</h1>
<p>This is a paragraph.</p>
<img src="/static/favicon.ico"/>
<div id='test-react'>
</div>
</body>
</html>